<a href="https://colab.research.google.com/github/jiahao20geng/family_recipes/blob/main/control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 5

if x < 0:
    print(f"{x} is negative")

In [ ]:
x = -10

if x < 0:
    print(f"{x} is negative")

-10 is negative

In [ ]:
x = 5
if x < 0:
    print("x is negative")
else:
    print("x is positive")

x is positive

In [ ]:
x = 5
if x < 0:
    print("x is negative")
elif x == 0:
    print("x is zero")
else:
    print("x is positive")

x is positive

In [ ]:
mytext2 = ""
if mytext2:
    print("Mytext2 is not empty")

In [ ]:
mylist = [3, 7, 15, 2]
for whaever in mylist:
    print(whaever ** 2)

9
49
225
4

In [ ]:
vowels = "aeiou"
sarcasm = []

for letter in "Okay":
    if letter.lower() in vowels:
        repetition = 3
    else:
        repetition = 1

    sarcasm.append(letter * repetition)

"".join(sarcasm)

'OOOkaaay'

In [ ]:
import datetime
now = datetime.datetime.now()
print(now.year)

2022

In [ ]:
for n in range(50):
    if n == 20: 
        break
    if n % 2 == 0:
        continue
    print(n)

1
3
5
7
9
11
13
15
17
19

In [ ]:
"".join([letter for letter in "Eric Idle" 
         if letter.lower() not in 'aeiou'])

'rc dl'

In [ ]:
[str(x) for x in range(10)]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
list(map(str, range(10)))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
for n in range(50):
     if n == 21: 
         break
     if n % 2:
        continue
     print(n)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
[ x for x in range(100) if x % 2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
for a in range(100):
  if a%3:
    print(a)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98